body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:985px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:985px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:484px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:128px;
  width:414px;
  height:736px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:19px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:832px;
  width:364px;
  height:18px;
  color:#999999;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:172px;
  width:414px;
  height:1px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:137px;
  width:97px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:134px;
  width:32px;
  height:32px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:57px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:185px;
  width:415px;
  height:56px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:190px;
  width:32px;
  height:32px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:23px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:190px;
  width:236px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:31px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:212px;
  width:357px;
  height:30px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:190px;
  width:107px;
  height:18px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:148px;
  width:44px;
  height:18px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
