body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:985px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:985px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:484px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:127px;
  width:414px;
  height:736px;
  color:#FFFFFF;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:19px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:832px;
  width:364px;
  height:18px;
  color:#999999;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:172px;
  width:414px;
  height:1px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:137px;
  width:169px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FCF845;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:370px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:203px;
  width:364px;
  height:369px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:176px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:248px;
  width:68px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:2px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:283px;
  width:364px;
  height:1px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:512px;
  width:119px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:23px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:248px;
  width:101px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:334px;
  width:279px;
  height:44px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:275px;
  word-wrap:break-word;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:388px;
  width:279px;
  height:44px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:275px;
  word-wrap:break-word;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:440px;
  width:279px;
  height:44px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:275px;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:144px;
  width:30px;
  height:18px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:134px;
  width:32px;
  height:32px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
