body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:985px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:985px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:484px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:127px;
  width:414px;
  height:736px;
  color:#FFFFFF;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:19px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:832px;
  width:364px;
  height:18px;
  color:#999999;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:172px;
  width:414px;
  height:1px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:264px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:551px;
  width:379px;
  height:263px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:375px;
  word-wrap:break-word;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:136px;
  width:63px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:228px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:183px;
  width:383px;
  height:228px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:97px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:418px;
  width:376px;
  height:96px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  word-wrap:break-word;
}
#u1850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:144px;
  width:27px;
  height:18px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:171px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:344px;
  width:193px;
  height:170px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:464px;
  width:130px;
  height:40px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:386px;
  width:75px;
  height:68px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:359px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
