body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:985px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:985px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:484px;
  width:479px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:128px;
  width:414px;
  height:736px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:19px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:832px;
  width:364px;
  height:18px;
  color:#999999;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:172px;
  width:414px;
  height:1px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:137px;
  width:145px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#999999;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:746px;
  width:91px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:420px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:418px;
  width:227px;
  height:25px;
}
#u986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:464px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:462px;
  width:227px;
  height:25px;
}
#u989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:508px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:506px;
  width:227px;
  height:25px;
}
#u992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:580px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:578px;
  width:227px;
  height:25px;
}
#u995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:650px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:648px;
  width:227px;
  height:25px;
}
#u998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:615px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:613px;
  width:227px;
  height:25px;
}
#u1001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:685px;
  width:102px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:683px;
  width:227px;
  height:25px;
}
#u1004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:543px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:541px;
  width:227px;
  height:25px;
}
#u1007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:183px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:80px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:212px;
  width:103px;
  height:79px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:99px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:2px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:203px;
  width:381px;
  height:1px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:80px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:212px;
  width:103px;
  height:79px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:99px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:80px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:212px;
  width:103px;
  height:79px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:99px;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:80px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:212px;
  width:103px;
  height:79px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:99px;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:204px;
  width:48px;
  height:48px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:204px;
  width:48px;
  height:48px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:204px;
  width:48px;
  height:48px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:204px;
  width:48px;
  height:48px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:262px;
  width:15px;
  height:15px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:262px;
  width:15px;
  height:15px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:262px;
  width:15px;
  height:15px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:262px;
  width:15px;
  height:15px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:387px;
  width:87px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:2px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:407px;
  width:381px;
  height:1px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:77px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:291px;
  width:415px;
  height:76px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:305px;
  width:124px;
  height:18px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:305px;
  width:124px;
  height:18px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:19px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:335px;
  width:135px;
  height:18px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:335px;
  width:124px;
  height:18px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:13px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:353px;
  width:88px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:13px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:353px;
  width:96px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:134px;
  width:32px;
  height:32px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
